<!-- footer full -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td style="padding: 32px 0 0 0;" align="center">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td bgcolor="#dce8ef" align="center">
            <table class="content-table" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
              <tr>
                <td style="padding: 16px 16px 16px 16px;" align="center" valign="top">
                  <!-- content -->
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td style="color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 21px;" align="left">
                        Outline Mail is a project by <a style="color: #38A1D6; text-decoration: none;" href="http://www.matt-harris.net">Matt Harris</a>
                      </td>
                    </tr>
                    <tr>
                      <td style="color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 21px;" align="left">
                        <a style="color: #38A1D6; text-decoration: none;" href="#">View this email in your browser</a> | <a style="color: #38A1D6; text-decoration: none;" href="#">Unsubscribe</a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- /footer full -->