<!-- footer logo links -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td style="padding: 32px 0 0 0;" align="center">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td align="center">
            <table class="content-table" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
              <tr>
                <td style="padding: 16px 16px 0 16px;" align="center" valign="top">
                  <!-- Two column -->
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td>
                        <!-- logo left -->
                        <table class="content-table" border="0" cellpadding="0" cellspacing="0" align="left">
                          <tr>
                            <td style="padding-bottom: 16px;">
                              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                  <td align="left">
                                    <a href="http://outlinemail.co.uk">
                                      <img class="mobile-align-center" style="display: block" src="http://outlinemail.co.uk/img/logo.png" width="200" height="20" border="0" alt="Outline Mail">
                                    </a>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <!-- /logo left -->
                        <!-- content right -->
                        <table class="content-table" border="0" cellpadding="0" cellspacing="0" align="right">
                          <tr>
                            <td style="padding-bottom: 16px;">
                              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                  <td class="mobile-align-center" style="color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 21px;" align="right">
                                    Outline Mail is a project by <a style="color: #38A1D6; text-decoration: none;" href="http://www.matt-harris.net">Matt Harris</a>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="mobile-align-center" style="color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 21px;" align="right">
                                    <a style="color: #38A1D6; text-decoration: none;" href="#">View in your browser</a> | <a style="color: #38A1D6; text-decoration: none;" href="#">Unsubscribe</a>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <!-- /content right -->
                      </td>
                    </tr>
                  </table>
                  <!-- /Two column -->
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- /footer logo links -->