<!-- Header centre -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td align="center">
      <table class="content-table" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
        <tr>
          <td style="padding: 16px 16px 16px 16px;" align="center" valign="top">
            <a href="http://outlinemail.co.uk">
              <img style="display: block" src="http://outlinemail.co.uk/img/logo.png" width="280" height="28" border="0" alt="Outline Mail">
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- /Header centre -->