<!-- List image title author -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td style="padding: 32px 0 32px 0;" bgcolor="#ffffff" align="center">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td align="center">
            <table class="content-table" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
              <tr>
                <td style="padding: 0 16px 0 16px;" align="center" valign="top">
                  <!-- content -->
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td align="left" style="padding: 0 0 16px 0; color: #16f4d0; font-family: Helvetica, Arial, sans-serif; font-size: 28px; font-weight: bold; line-height: 32px;">
                        Amazing Articles
                      </td>
                    </tr>
                    <!-- list item 1 -->
                    <tr>
                      <td style="padding: 24px 0 24px 0; border-top: 1px solid #dce8ef;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td align="left" valign="top">
                              <img style="display: block; font-family: Helvetica, Arial, sans-serif; color: #333333; font-size: 14px; width: 40px; height: 40px;" src="http://outlinemail.co.uk/img/min/circle-img-placeholder.jpg" alt="Outline Mail" width="40" height="40" border="0">
                            </td>
                            <td align="left" style="padding-left: 4px;" valign="top">
                              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                  <td align="left" style="color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 20px; font-weight: normal; line-height: 30px;">
                                    <a style="color: #333333; text-decoration: none;" href="#">Outline Mail - Making HTML email ridiculously easy.</a>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="left" style="color: #dce8ef; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 21px; text-transform: uppercase;" colspan="2">
                                      MATT HARRIS
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <!-- list item 2 -->
                    <tr>
                      <td style="padding: 24px 0 24px 0; border-top: 1px solid #dce8ef;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td align="left" valign="top">
                              <img style="display: block; font-family: Helvetica, Arial, sans-serif; color: #333333; font-size: 14px; width: 40px; height: 40px;" src="http://outlinemail.co.uk/img/min/circle-img-placeholder.jpg" alt="Outline Mail" width="40" height="40" border="0">
                            </td>
                            <td align="left" style="padding-left: 4px;" valign="top">
                              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                  <td align="left" style="color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 20px; font-weight: normal; line-height: 30px;">
                                    <a style="color: #333333; text-decoration: none;" href="#">Outline Mail - Making HTML email ridiculously easy.</a>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="left" style="color: #dce8ef; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 21px; text-transform: uppercase;" colspan="2">
                                      MATT HARRIS
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <!-- list item 3 -->
                    <tr>
                      <td style="padding: 24px 0 24px 0; border-top: 1px solid #dce8ef;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td align="left" valign="top">
                              <img style="display: block; font-family: Helvetica, Arial, sans-serif; color: #333333; font-size: 14px; width: 40px; height: 40px;" src="http://outlinemail.co.uk/img/min/circle-img-placeholder.jpg" alt="Outline Mail" width="40" height="40" border="0">
                            </td>
                            <td align="left" style="padding-left: 4px;" valign="top">
                              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                  <td align="left" style="color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 20px; font-weight: normal; line-height: 30px;">
                                    <a style="color: #333333; text-decoration: none;" href="#">Outline Mail - Making HTML email ridiculously easy.</a>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="left" style="color: #dce8ef; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 21px; text-transform: uppercase;" colspan="2">
                                      MATT HARRIS
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <!-- list item 4 -->
                    <tr>
                      <td style="padding: 24px 0 24px 0; border-top: 1px solid #dce8ef;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td align="left" valign="top">
                              <img style="display: block; font-family: Helvetica, Arial, sans-serif; color: #333333; font-size: 14px; width: 40px; height: 40px;" src="http://outlinemail.co.uk/img/min/circle-img-placeholder.jpg" alt="Outline Mail" width="40" height="40" border="0">
                            </td>
                            <td align="left" style="padding-left: 4px;" valign="top">
                              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                  <td align="left" style="color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 20px; font-weight: normal; line-height: 30px;">
                                    <a style="color: #333333; text-decoration: none;" href="#">Outline Mail - Making HTML email ridiculously easy.</a>
                                  </td>
                                </tr>
                                <tr>
                                  <td align="left" style="color: #dce8ef; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 21px; text-transform: uppercase;" colspan="2">
                                      MATT HARRIS
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- /List image title author -->