<!-- Hero image, title, text, cta -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td style="padding: 32px 0 32px 0;" bgcolor="#ffffff" align="center">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td align="center">
            <table class="content-table" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
              <tr>
                <td style="padding: 0 16px 0 16px;" align="center" valign="top">
                  <!-- content -->
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td style="padding: 0 0 16px 0;" align="left">
                        <a href="#" target="_blank">
                          <img style="display: block; font-family: Helvetica, Arial, sans-serif; color: #333333; font-size: 14px; width: 600px; height: 250px;" class="img-max" src="http://outlinemail.co.uk/img/16x9-img-placeholder.png" alt="Outline Mail" width="600" height="250" border="0">
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td align="left" style="padding: 0 0 8px 0; color: #16f4d0; font-family: Helvetica, Arial, sans-serif; font-size: 28px; font-weight: bold; line-height: 32px;">
                        The clean &amp; simple framework
                      </td>
                    </tr>
                    <tr>
                      <td align="left" style="padding: 0 0 16px 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 24px;">
                        Outline is simple CSS starter boilerplate for any new web project. It's a modular, mobile-first framework which includes todays best practices for responsive design and core components I use on every project. Outline is designed to be a starting point. A solid foundation for your project, leaving the creativity up to you.
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <!-- Button -->
                        <table border="0" cellspacing="0" cellpadding="0" width="100%">
                          <tr>
                            <td align="left">
                              <table border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td align="center">
                                    <a style="background-color: #fcee21; border-top: 8px solid #fcee21; border-right: 16px solid #fcee21; border-bottom: 8px solid #fcee21; border-left: 16px solid #fcee21; display: inline-block; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 18px; font-weight: normal; line-height: 24px; text-decoration: none;" href="http://outlinemail.co.uk" target="_blank">Get started &#8594;</a>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <!-- /Button -->
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- /Hero image, title, text, cta -->