<!-- Three up feature layout -->
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
  <tr>
    <td style="padding: 32px 16px 32px 16px" align="center">
      <table class="container" border="0" cellpadding="0" cellspacing="0" width="600">
        <tr>
          <td valign="top">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td align="center">
                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <!-- Column 1 -->
                      <td class="column-3" width="200" align="left" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td style="padding: 0 8px 0 8px" align="center">
                              <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td style="padding: 0 0 8px 0;" align="center">
                                    <a href="#" target="_blank">
                                      <img style="display: block; font-family: arial, sans-serif; color: #333333; font-size: 14px; width: 120px; height: 120px;" src="http://outlinecss.co.uk/img/outline-mail/16x9-img-placeholder.png" alt="Outline Mail" width="120" height="120" border="0">
                                    </a>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="color: #38a1d6; font-family: arial, sans-serif; font-size: 18px; font-weight: bold; line-height: 27px;" align="center">
                                    Matt Harris
                                  </td>
                                </tr>
                                <tr>
                                  <td style="color: #a1acb5; font-family: arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 24px;" class="full-width-column-padding" align="center">
                                    Lead Front End Developer
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                      <!-- /Column 1 -->
                      <!-- Column 2 -->
                      <td class="column-3" width="200" align="center" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td style="padding: 0 8px 0 8px" align="center">
                              <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td style="padding: 0 0 8px 0;" align="center">
                                    <a href="#" target="_blank">
                                      <img style="display: block; font-family: arial, sans-serif; color: #333333; font-size: 14px; width: 120px; height: 120px;" src="http://outlinecss.co.uk/img/outline-mail/16x9-img-placeholder.png" alt="Outline Mail" width="120" height="120" border="0">
                                    </a>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="color: #38a1d6; font-family: arial, sans-serif; font-size: 18px; font-weight: bold; line-height: 27px;" align="center">
                                    James O'brien
                                  </td>
                                </tr>
                                <tr>
                                  <td style="color: #a1acb5; font-family: arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 24px;" class="full-width-column-padding" align="center">
                                    Lead Creative
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                      <!-- /Column 2 -->
                      <!-- Column 3 -->
                      <td class="column-3" width="200" align="right" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td style="padding: 0 8px 0 8px" align="center">
                              <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                  <td style="padding: 0 0 8px 0;" align="center">
                                    <a href="#" target="_blank">
                                      <img style="display: block; font-family: arial, sans-serif; color: #333333; font-size: 14px; width: 120px; height: 120px;" src="http://outlinecss.co.uk/img/outline-mail/16x9-img-placeholder.png" alt="Outline Mail" width="120" height="120" border="0">
                                    </a>
                                  </td>
                                </tr>
                                <tr>
                                  <td style="color: #38a1d6; font-family: arial, sans-serif; font-size: 18px; font-weight: bold; line-height: 27px;" align="center">
                                    Steph Dearing
                                  </td>
                                </tr>
                                <tr>
                                  <td style="color: #a1acb5; font-family: arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 24px;" align="center">
                                    Front End Developer
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                      <!-- /Column 3 -->
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- /Three up feature layout -->