<!-- Four up centre -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td style="padding: 32px 0 0 0;" bgcolor="#ffffff" align="center">
      <table class="content-table" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
        <tr>
          <td style="padding: 0 16px 0 16px;" align="center" valign="top">
            <!-- Two column -->
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>
                <td>
                  <!-- content left -->
                  <table class="content-table" border="0" cellpadding="0" cellspacing="0" width="48%" align="left">
                    <tr>
                      <td>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td align="center">
                              <a href="#" target="_blank">
                                <img style="display: block; font-family: Helvetica, Arial, sans-serif; color: #333333; font-size: 14px; width: 272px; height: 153px;" class="img-max" src="http://outlinemail.co.uk/img/16x9-img-placeholder.png" alt="Outline Mail" width="272" height="153" border="0">
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td style="padding: 8px 0 8px 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 20px; font-weight: normal; line-height: 30px;" align="center">
                              A small headline here please
                            </td>
                          </tr>
                          <tr>
                            <td style="color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 24px; padding: 0 0 32px 0;" align="center">
                              Outline is simple CSS starter boilerplate for any new web project. It can include a <a style="color: #38a1d6" href="#">text link</a>.
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <!-- /content left -->
                  <!-- content right -->
                  <table class="content-table" border="0" cellpadding="0" cellspacing="0" width="48%" align="right">
                    <tr>
                      <td>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td align="center">
                              <a href="#" target="_blank">
                                <img style="display: block; font-family: Helvetica, Arial, sans-serif; color: #333333; font-size: 14px; width: 272px; height: 153px;" class="img-max" src="http://outlinemail.co.uk/img/16x9-img-placeholder.png" alt="Outline Mail" width="272" height="153" border="0">
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td style="padding: 8px 0 8px 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 20px; font-weight: normal; line-height: 30px;" align="center">
                              A small headline here please
                            </td>
                          </tr>
                          <tr>
                            <td style="color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 24px; padding: 0 0 32px 0;" align="center">
                              Outline is simple CSS starter boilerplate for any new web project. It can include a <a style="color: #38a1d6" href="#">text link</a>.
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <!-- /content right -->
                </td>
              </tr>
              <tr>
                <td>
                  <!-- content left -->
                  <table class="content-table" border="0" cellpadding="0" cellspacing="0" width="48%" align="left">
                    <tr>
                      <td>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td align="center">
                              <a href="#" target="_blank">
                                <img style="display: block; font-family: Helvetica, Arial, sans-serif; color: #333333; font-size: 14px; width: 272px; height: 153px;" class="img-max" src="http://outlinemail.co.uk/img/16x9-img-placeholder.png" alt="Outline Mail" width="272" height="153" border="0">
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td style="padding: 8px 0 8px 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 20px; font-weight: normal; line-height: 30px;" align="center">
                              A small headline here please
                            </td>
                          </tr>
                          <tr>
                            <td style="color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 24px; padding: 0 0 32px 0;" align="center">
                              Outline is simple CSS starter boilerplate for any new web project. It can include a <a style="color: #38a1d6" href="#">text link</a>.
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <!-- /content left -->
                  <!-- content right -->
                  <table class="content-table" border="0" cellpadding="0" cellspacing="0" width="48%" align="right">
                    <tr>
                      <td>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td align="center">
                              <a href="#" target="_blank">
                                <img style="display: block; font-family: Helvetica, Arial, sans-serif; color: #333333; font-size: 14px; width: 272px; height: 153px;" class="img-max" src="http://outlinemail.co.uk/img/16x9-img-placeholder.png" alt="Outline Mail" width="272" height="153" border="0">
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td style="padding: 8px 0 8px 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 20px; font-weight: normal; line-height: 30px;" align="center">
                              A small headline here please
                            </td>
                          </tr>
                          <tr>
                            <td style="color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 24px; padding: 0 0 32px 0;" align="center">
                              Outline is simple CSS starter boilerplate for any new web project. It can include a <a style="color: #38a1d6" href="#">text link</a>.
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <!-- /content right -->
                </td>
              </tr>
            </table>
            <!-- /Two column -->
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- /Four up centre -->